Repository MatthiasGi/kampanile3: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-test, django-makemessages

django-test:
  name: Django Tests
  entry: sh -c
  args:
  - cd kampanile3; python manage.py test --failfast --noinput --parallel
  pass_filenames: false
  language: system

django-makemessages:
  name: Django make messages (i18n)
  entry: sh -c
  args:
  - cd kampanile3; python manage.py makemessages -l de --no-obsolete
  pass_filenames: false
  language: system

Debouncing is configurable
  kampanile3/carillon/models/carillon.py
  kampanile3/gpio/apps.py
  kampanile3/gpio/forms.py
  kampanile3/gpio/lib/__init__.py
  kampanile3/gpio/lib/pin.py
  kampanile3/gpio/locale/de/LC_MESSAGES/django.po
  kampanile3/gpio/migrations/0003_input_deadtime_input_debounce.py
  kampanile3/gpio/models.py
  kampanile3/gpio/urls.py
Due: django-test, django-makemessages

MQTT-Lib restructured
  .pre-commit-config.yaml
  kampanile3/mqtt/apps.py
  kampanile3/mqtt/lib/__init__.py
  kampanile3/mqtt/lib/jukebox.py
  kampanile3/mqtt/lib/module.py
  kampanile3/mqtt/lib/mqtt/__init__.py
  kampanile3/mqtt/lib/state_sensors.py
  kampanile3/mqtt/locale/de/LC_MESSAGES/django.po
Due: django-test, django-makemessages

Loading MQTT and GPIO more selectively
  kampanile3/gpio/urls.py
  kampanile3/kampanile3/asgi.py
  kampanile3/kampanile3/settings/__init__.py
  kampanile3/kampanile3/settings/modules.py
  kampanile3/kampanile3/wsgi.py
  kampanile3/mqtt/apps.py
  kampanile3/mqtt/lib/__init__.py
  kampanile3/mqtt/urls.py
Due: django-test, django-makemessages

Description in local example settings added
  kampanile3/kampanile3/settings/local.example.py
Due: django-test, django-makemessages

Updated documentation to reflect no manual loading of MQTT is required anymore
  README.md
Due: none

MQTT and GPIO coupled
  .pre-commit-config.yaml
  kampanile3/gpio/locale/de/LC_MESSAGES/django.po
  kampanile3/gpio/models.py
  kampanile3/gpio/signals.py
  kampanile3/kampanile3/urls.py
  kampanile3/mqtt/lib/__init__.py
  kampanile3/mqtt/lib/gpio.py
  kampanile3/mqtt/lib/jukebox.py
  kampanile3/mqtt/urls.py
Due: django-test, django-makemessages

Flexible menu
  kampanile3/carillon/locale/de/LC_MESSAGES/django.po
  kampanile3/carillon/views/carillon.py
  kampanile3/carillon/views/song.py
  kampanile3/carillon/views/striker.py
  kampanile3/frontend/context_preprocessors.py
  kampanile3/frontend/locale/de/LC_MESSAGES/django.po
  kampanile3/frontend/templates/frontend/base.html
  kampanile3/gpio/locale/de/LC_MESSAGES/django.po
  kampanile3/gpio/views.py
  kampanile3/kampanile3/settings/base.py
Due: django-test, django-makemessages

Rename workflow from 'Django CI' to 'Django Tests'
  .github/workflows/django.yml
Due: none

Organized workflows
  .github/workflows/dependabot.yml
  .github/workflows/django.yml
  .github/workflows/main.yml
  .pre-commit-config.yaml
  README.md
  kampanile3/carillon/locale/de/LC_MESSAGES/django.po
  kampanile3/frontend/locale/de/LC_MESSAGES/django.po
  kampanile3/gpio/forms.py
  kampanile3/gpio/locale/de/LC_MESSAGES/django.po
  kampanile3/gpio/models.py
  kampanile3/mqtt/locale/de/LC_MESSAGES/django.po
Due: django-test, django-makemessages

Cleanup
  .github/dependabot.yml
  requirements/development-requirements.txt
  requirements/production-requirements.txt
Due: django-makemessages

Added production deployment instructions
  .pre-commit-config.yaml
  README.md
  deployment/grandorgue.desktop
  deployment/gunicorn.service.sample
  deployment/gunicorn.socket.sample
  deployment/kampanile3.sample
  kampanile3/carillon/locale/de/LC_MESSAGES/django.po
  kampanile3/frontend/locale/de/LC_MESSAGES/django.po
  kampanile3/gpio/locale/de/LC_MESSAGES/django.po
  kampanile3/mqtt/locale/de/LC_MESSAGES/django.po
  pyproject.toml
  requirements/development-requirements.txt
  requirements/production-requirements.txt
Due: django-makemessages

Thread for playing automatic strikers added
  README.md
  deployment/grandorgue.desktop
  kampanile3/carillon/lib/__init__.py
  kampanile3/carillon/management/__init__.py
  kampanile3/carillon/management/commands/__init__.py
  kampanile3/carillon/management/commands/checkstrikers.py
  kampanile3/carillon/urls.py
  pyproject.toml
  requirements/development-requirements.txt
  requirements/production-requirements.txt
Due: django-test, django-makemessages

Fixed localtime for calculation of repeats
  README.md
  kampanile3/carillon/locale/de/LC_MESSAGES/django.po
  kampanile3/carillon/models/rule.py
Due: django-test, django-makemessages

Streamlined starting of threads
  kampanile3/carillon/apps.py
  kampanile3/carillon/urls.py
  kampanile3/gpio/apps.py
  kampanile3/gpio/urls.py
  kampanile3/kampanile3/urls.py
  kampanile3/mqtt/apps.py
  kampanile3/mqtt/urls.py
Due: django-test, django-makemessages

Threads run in gunicorn as intended
  README.md
  kampanile3/gunicorn.conf.py
Due: django-test, django-makemessages

Adding firewall instructions
  README.md
Due: none

Unattended Upgrades added
  README.md
Due: none

Volume added as functionality
  .pre-commit-config.yaml
  README.md
  kampanile3/carillon/forms.py
  kampanile3/carillon/locale/de/LC_MESSAGES/django.po
  kampanile3/carillon/migrations/0002_carillon_volume.py
  kampanile3/carillon/models/carillon.py
  kampanile3/carillon/templates/carillon/carillon_detail.html
  kampanile3/carillon/views/carillon.py
  kampanile3/frontend/locale/de/LC_MESSAGES/django.po
  kampanile3/frontend/templates/frontend/index.html
  kampanile3/mqtt/lib/state_sensors.py
  kampanile3/mqtt/locale/de/LC_MESSAGES/django.po
Due: django-test, django-makemessages

Dependency-Installation rebuild
  .github/dependabot.yml
  .github/workflows/django.yml
  .pre-commit-config.yaml
  README.md
  deployment/README.md
  pyproject.toml
  requirements/development-requirements.txt
  requirements/production-requirements.txt
Due: django-makemessages

Allowing for startup without default carillon and tests skipping if unavailable
  .github/workflows/django.yml
  deployment/README.md
  kampanile3/carillon/test.py
  kampanile3/gpio/test.py
  kampanile3/mqtt/lib/jukebox.py
  kampanile3/mqtt/lib/state_sensors.py
  pyproject.toml
Due: django-test, django-makemessages

Deployment documented
  deployment/README.md
  deployment/kampanile3.sample
  kampanile3/carillon/fixtures/songs.yaml
  kampanile3/kampanile3/settings/local.example.py
Due: django-test, django-makemessages

Install ALSA package in GitHub Actions workflow
  .github/workflows/django.yml
Due: none

Modify system dependencies installation step
  .github/workflows/django.yml
Due: none

Refactor Django CI workflow to avoid duplicate installs
  .github/workflows/django.yml
Due: none

Trying to fix pipelines
  .pre-commit-config.yaml
  deployment/README.md
  kampanile3/carillon/fixtures/songs.yaml
  kampanile3/gpio/test.py
  kampanile3/kampanile3/settings/base.py
  kampanile3/kampanile3/settings/local.example.py
  kampanile3/mqtt/lib/__init__.py
Due: django-test, django-makemessages

Porting pre-commit to GitHub pipelines
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

Retrying pipelines
  .github/workflows/pre-commit.yml
  README.md
  kampanile3/kampanile3/settings/base.py
  kampanile3/mqtt/lib/__init__.py
Due: django-test, django-makemessages

Retrying pipelines
  .github/workflows/pre-commit.yml
  kampanile3/kampanile3/settings/base.py
Due: django-test, django-makemessages

Retrying pipelines
  kampanile3/gpio/test.py
Due: django-test, django-makemessages

Fixing messages
  .gitignore
  kampanile3/carillon/locale/de/LC_MESSAGES/django.po
  kampanile3/frontend/locale/de/LC_MESSAGES/django.po
  kampanile3/gpio/locale/de/LC_MESSAGES/django.po
  kampanile3/mqtt/locale/de/LC_MESSAGES/django.po
Due: django-makemessages

Cleanup READMEs
  README.md
  deployment/README.md
Due: none

Fine tuning models
  kampanile3/carillon/locale/de/LC_MESSAGES/django.po
  kampanile3/carillon/migrations/0003_alter_rule_options_alter_rule_priority_and_more.py
  kampanile3/carillon/models/rule.py
  kampanile3/carillon/models/striker.py
Due: django-test, django-makemessages

Small self update
  kampanile3/mqtt/lib/gpio.py
Due: django-test, django-makemessages

Added a weekday condition
  .pre-commit-config.yaml
  kampanile3/carillon/locale/de/LC_MESSAGES/django.po
  kampanile3/carillon/models/conditions/date/__init__.py
  kampanile3/carillon/models/conditions/date/test.py
  kampanile3/carillon/models/conditions/date/weekday_condition.py
Due: django-test, django-makemessages

Path conditions:
  django-test: any of: \.py$, but not: (migrations)
  django-makemessages: any of: ^.*\.(po|py|html|js|txt)$, but not: (migrations)
